<div>
<div class="container">
    <h1 class="text-danger">Add Contact</h1>
    <br>
    <h6>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga fugit aspernatur, incidunt modi, cumque ex sunt a possimus illo, animi quasi? Sit, tempore vero repellendus laborum velit quos dolorum in.</h6>
</div>
<div class="container">
<div class="card" style=" width: 18rem;">
    <div class="card-body">
     <form>
         <div class="mb-2">
         <input  type="text" class="form-control" placeholder="Name">
        </div>
        <div class="mb-2">
         <input type="text" class="mb-2"  class="form-control" placeholder="Photo URL">
        </div>
         <div class="mb-2">
         <input type="text" class="mb-2"  class="form-control" placeholder="Email">
        </div>
         <div class="mb-2">
         <input type="text" class="mb-2"  class="form-control" placeholder="Mobile">
        </div>
         <div class="mb-2">
         <input type="text" class="mb-2"  class="form-control" placeholder="Company">
        </div>
         <div class="mb-2">
         <input type="text" class="mb-2"  class="form-control" placeholder="Title">
        </div>
         <div class="mb-2">
         <input type="text" class="mb-2"  class="form-control" placeholder="SelectGroup">
        </div>
        <div class="mb-2">
            <input type="submit" value="create" class="btn btn-dark">&nbsp;
            <a class="btn btn-dark" routerLink="../contact-manager">Close</a>
        </div>
     </form>    
    </div>
   </div>
  </div>
</div>