<div class="background">
    <h2 id="about">About</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi vitae aspernatur non eius exercitationem delectus ea deserunt! Quia, temporibuslorem20
         iure. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis debitis consequuntur tempore porro tenetur exercitationem alias earum eum cupiditate molestias.</p>
    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti facilis vel porro soluta ratione laborum suscipit placeat quo nulla eligendi.</span>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint officia provident magni voluptates ex? Sunt saepe suscipit unde id iusto. Earum, beatae quis sint numquam sit quaerat, iusto commodi suscipit dolorem laboriosam distinctio enim sed!</p>
<div class="row">
    <div class="col-sm-2">
<div class="box">
   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum voluptate, asperiores aliquid deleniti dicta saepe aperiam doloremque voluptatem animi fugit.</p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas fuga maiores, eaque voluptates natus a.</p>
</div> 
</div>
<div class="col-sm-2">
    <div class="box">
       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum voluptate, asperiores aliquid deleniti dicta saepe aperiam doloremque voluptatem animi fugit.</p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas fuga maiores, eaque voluptates natus a.</p>
    </div> 
    </div>
    <div class="col-sm-2">
        <div class="box">
           <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum voluptate, asperiores aliquid deleniti dicta saepe aperiam doloremque voluptatem animi fugit.</p>
           <p>lkfdsgalg sdfgklowdshgflsanfd sdfgsadlsdf dsufksdf p;udsfsodfhlljlrwestps</p>
        </div> 
        </div><div class="col-sm-2">
            <div class="box">
               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum voluptate, asperiores aliquid deleniti dicta saepe aperiam doloremque voluptatem animi fugit.</p> 
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas fuga maiores, eaque voluptates natus a.</p>
            </div> 
            </div>
    <div class="col-sm-2">
        <div class="box">
           <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum voluptate, asperiores aliquid deleniti dicta saepe aperiam doloremque voluptatem animi fugit.</p>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas fuga maiores, eaque voluptates natus a.</p>
        </div> 
        </div>
  <div class="col-sm-2">
<div class="box" >
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum voluptate, asperiores aliquid deleniti dicta saepe aperiam doloremque voluptatem animi fugit.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas fuga maiores, eaque voluptates natus a.</p>
 </div>     
</div>
</div>
    
