<div id="back">
    <div class="card" style="width: 18rem;">
        <h4>Forgot-Password</h4>
        <p>please enter your recovery email address</p>
        <form action="" method="">
            <div class="form-group">
                <input type="email" id="email" placeholder="Email Address" class="form-control" name="" />
            </div>
           <input type="submit" class="btn btn-primary" id="btn" value="Reset Password Link" name="">
        </form>
        <div class="card-footer text-right">
            <small>Ohh I remember <a routerLink="../login">Back to Login</a></small>
        </div>
    </div>
</div>