.card{
    margin-top:15%;
    margin-left: 40%;
    height:300px;
    background-color: darkgray;

}
.form-group{
    margin:20px;
}
h4,p{
    text-align:center;
    margin:13px;
}
a{
    text-decoration: none;
    color:white;
}
.btn{
    margin-left:50px;
}
#back{
    background-image: url('/assets/cart.jpg');
    background-size: cover;
    margin:0;
    padding:0;
}