<div class="container">
    <div>
        <p class="h3 text-danger fw-bold">view-contact</p>
    </div>
    <div>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sed exercitationem ratione natus quia omnis in, cupiditate harum porro ducimus!</h4>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSISzqgzh28iPzRti5fVzZh-NOWzzQmfO3TMLS0aJkk_Him2c5xUuoUH9DHsnTl3meMXkA&usqp=CAU" class="pic" alt="">
        </div>
        <div class="col-sm-6">
            <ul class="list-group">
                <li  class="list-group-item">Name:<span class="fw-bold">Name</span></li>
                <li  class="list-group-item">Email:<span class="fw-bold">Email</span></li>
                <li  class="list-group-item">Mobile:<span class="fw-bold">Mobile</span></li>
                <li  class="list-group-item">company:<span class="fw-bold">Name</span></li>
                <li  class="list-group-item">title:<span class="fw-bold">Email</span></li>
                <li  class="list-group-item">groupId:<span class="fw-bold">Mobile</span></li>
            </ul>
        </div>
    </div>
</div>
<!-- back button -->
<div class="container">
   <a routerLink="../contact-manager"><button type="submit"class="btn btn-dark">Back</button></a>
</div>