<div class="background-reg">
    <div class="register">
        <img src="https://as2.ftcdn.net/v2/jpg/04/30/19/49/1000_F_430194962_5DATvICbCsmK90PhjsTSHv3LpLzeZPnV.jpg" id="regi">
         <h5 id="text">Regisration-form</h5>
        <form class="registerform">
        <input type="text" placeholder="first-name"><br><br>
        <input type="text"  placeholder="last-name"><br><br>
        <input type="email" placeholder="email"><br><br>
        <input type="number" placeholder="mobile-number"><br><br>
        <input type="date" value="Dob"><br><br>
       
        <input type="radio">male        
        <input type="radio">female<br><br>
        <label>select city</label>
        <select>
            <option value="srikakulam">Delhi</option>
            <option value="srikakulam">Mumbai</option>
            <option value="srikakulam">Pune</option>
        </select><br><br>
       
        <input type="checkbox" value="accept">accept<br>
        <button id="rbtn" type="submit" class="btn btn-success">Register</button>&nbsp;&nbsp; 
        <button id="rbtn" type="reset" class="btn btn-warning">Reset</button>
    </form>
    </div>
</div>